:root {
    --dark-cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
  }

body {
    margin: 0px;
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background-color: var(--light-cream);
}

/* Utilitie Classes */

/* Containers */

.container1 {
    max-width: 1440px;
}

/* Typography */

#titleAlternateBig {
    font-size: 150px;
    line-height: 120px;
    text-align: center;
    opacity: 0.25;
    background: linear-gradient(180deg, black 0%, #FEFCF7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 2.1% 2%;
}

h1,h2,h3,h4 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

h1 {
    font-size: 72px;
    line-height: 72px;
    color: var(--light-cream);
    margin: 5% 0% 5% 0%;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 32px;
    line-height: 36px;
    margin: 2.7rem 0rem 1rem 0rem;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    color: var(--grey);
    margin-bottom: 5rem;
}

li {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Buttons */

button {
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-family: 'Fraunces', serif;
    border-radius: 5px;
    background-color: var(--dark-cyan);
    color: white;
    border: none;
}

button:hover {
    background-color: #66D2CF;
}

/* Nav */

.navbar {
    margin: 2% 0% 2% 0%;
}

/* Header */

#headerSection {
    background-image: url('assets/about/desktop/image-hero-whitecup.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 0.6rem;
    padding: 8rem 4rem;
    margin-bottom: 10%;
}

#headerSection > p {
    width: 40%;
}

/* Section 1 */

#section1 {
    padding: 0rem 4rem;
    margin-bottom: 15rem;
}

#section1 > .container-fluid > .row>* {
    padding-left: 0px;
}

#section1Image {
    border-radius: 0.6rem;
}

.section1Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section 2 */

#section2 {
    background-color: var(--dark-grey-blue);
    color: white;
    padding: 6rem 4rem 11.7rem 4rem;
    margin-bottom: 8.7rem;
    border-radius: 0.6rem;
    position: relative;
}

.section2Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2ImageDiv {
    display: flex;
    justify-content: flex-end;
}

#section2Image {
    border-radius: 0.6rem;
    position: absolute;
    top: -18%;
}

/* Section 3 */

#section3 {
    margin-bottom: 8rem;
    padding: 0rem 4rem;
}

/* Footer */

#footer {
    background-color: var(--dark-grey-blue);
    color: white;
    padding: 1rem 4rem;
    margin-bottom: 5rem;
}

#footer > .navbar {
    margin: 0px;
}

.nav-link {
    color: var(--grey);
    margin: 0rem 1rem;
}

.nav-link:hover {
    color: white;
}

.footerNav {
    margin-left: 6rem;
}

.socialIcons {
    margin-left: 1rem;
}

.socialIcons:hover {
    fill: var(--pale-orange);
}

/* Media Queries */

@media only screen and (max-width: 991px) {
    /* Typography */

    h1 {
        font-size: 66px;
    }

    h4 {
        font-size: 28px;
    }

    #titleAlternateBig {
        font-size: 124px;
        line-height: 120px;
        text-align: center;
        margin: 10rem auto 0rem auto;
        opacity: 0.25;
        background: linear-gradient(180deg, black 0%, #FEFCF7 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    /* Header */

    #headerSection {
        background-image: url("assets/about/tablet/image-hero-whitecup.jpg");
    }

    #headerSection > p {
        width: 70%;
    }
    

    /* Section 1 */
    
    #section1Image {
        content:url("assets/about/tablet/image-commitment.jpg");
    }

    #section1 {
        padding: 0rem 0rem;
    }

     /* Section 2 */

     #section2 {
         text-align: center;
         padding: 6rem 4rem; 
     }

     .section2ImageDiv {
        justify-content: center;
     }

     #section2Image {
         content:url("assets/about/tablet/image-quality.jpg");
         position: absolute;
     }

     .section2Header {
         margin-top: 13rem;
     }

    /* Footer */

    #footer  {
        text-align: center;
    }

    .footer-nav {
        display: flex;
        justify-content: center;
        margin: 1rem 0rem;
    }

    svg {
        margin: 0rem 2rem;
    }

  }


  @media only screen and (max-width: 767px) {

    body {
        padding: 20px;
    }

    /* Typography */
    
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 5vh;
        margin: 3rem 0rem;
    }

    h4 {
        font-size: 28px;
    }

    /* container */

    #section1 > .container, .container-fluid, 
    .container-lg, .container-md, .container-sm, 
    .container-xl, .container-xxl {
        padding: 0px;
    }

    /* Nav */

    .navbar {
        margin: 0rem 0rem 2rem 0rem;
    }

    /* Header */

    #headerSection {
        background-image: url("assets/about/mobile/image-hero-whitecup.jpg");
        padding: 6rem 0rem;
        text-align: center;
        margin-bottom: 8rem;
    }

    #headerHeading > h1 {
        font-size: 3rem;
    }

    #headerSection > p {
        width: 100%;
        padding: 0rem 2rem;
        margin: 2.8rem 0rem;
    }

    /* Section 1 */

    #section1 {
        margin-bottom: 13rem;
        position: relative;
        text-align: center;
    }
    
    #section1Image {
        content: url("assets/about/mobile/image-commitment.jpg");
        width: 94%;
        text-align: center;
        padding-right: 0px;
    }

    .section1Header > p {
        width: 95%;
        margin: 0 auto;
    }

    #section1 > .container-fluid > .row>* {
        padding-right: 0px;
    }

     /* Section 2 */
 
     #section2 {
        background-color: var(--dark-grey-blue);
        padding: 6rem 2rem 4rem 2rem;
    }

    #section2Image {
        content: url("assets/about/mobile/image-quality.jpg");
        width: 90%;
        top: -8%;
    }

    .section2Header {
        margin-top: 3rem;
    }

    /* Section 3 */

      #section3 {
        margin-top: 8rem;
        margin-bottom: 3rem;
        padding: 0px;
        text-align: center;
    }

    .hqCards {
        margin-bottom: 5rem;
    }
/* 

    /* Footer */

    #footer {
        padding: 3rem 0rem;
    }

    #footer-logo {
        margin: 0px;
    }

  }