:root {
    --dark-cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
  }

body {
    margin: 0px;
    padding: 0 40px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background-color: var(--light-cream);
}

/* Utilitie Classes */

/* Containers */

.container1 {
    max-width: 1440px;
}

/* Typography */

#titleAlternateBig {
    font-size: 150px;
    line-height: 120px;
    text-align: center;
    margin: 8rem auto 0rem auto;
    opacity: 0.25;
    background: linear-gradient(180deg, black 0%, #FEFCF7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1,h2,h3,h4 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

h1 {
    font-size: 72px;
    line-height: 72px;
    color: var(--light-cream);
    margin: 5% 0% 5% 0%;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

li {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Buttons */

button {
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-family: 'Fraunces', serif;
    border-radius: 5px;
    background-color: var(--dark-cyan);
    color: white;
    border: none;
}

button:hover {
    background-color: #66D2CF;
}

/* Nav */

.navbar {
    margin: 2% 0% 2% 0%;
}

/* Header */

#header {
    background-image: url('assets/home/desktop/image-hero-coffeepress.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 0.6em;
    padding: 6rem 4rem;
}


#headerHeading {
    width: 60%;
}

#headerHeading p {
    margin: 2rem 0rem 3rem 0rem;
    width: 80%;
}

/* Section 1 */

#section1 {
    position: relative;
}

.coffeeCard {
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
}

.coffeeCard > h4 {
    margin-bottom: 1.5rem;
}

.coffeeImages {
    width: 70%;
    margin-bottom: 5rem;
}

#coffeeSection {
    padding: 0rem 4rem;
    position: absolute;
    bottom: -19rem;
}

/* Section 2  */

#section2 {
    background-color: var(--dark-grey-blue);
    color: white;
    margin-top: 30rem;
    margin-bottom: 18rem;
    border-radius: 0.6em;
    padding: 6rem 4rem 0rem 4rem;
    position: relative;
}

#section2Header {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

#section2Header > h2 {
    margin-bottom: 2.5rem;
}

#section2CardSection {
    position: relative;
    top: 5rem;   
}

.section2-card-col {
    align-items: stretch;
    display: flex;
}

.section2Card {
    background-color: var(--dark-cyan);
    border-radius: 0.6em;
    text-align: center;
    padding: 4rem 2rem; 
}

.section2Icons {
    width: 22%;
    margin-bottom: 3.5rem;
}

.section2Card > h4 {
    margin-bottom: 2rem;
}

/* Section 3 */

#section3 {
    position: relative;
    margin-bottom: 12%;
    padding: 0rem 4rem 0rem 4rem;
}

#section3 > div > h4 {
    color: var(--grey)
}

#section3 > h1 {
    color: var(--pale-orange)
}

#section3abstract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69.5%;
    margin: 5rem 0rem;
}

.section3Circles {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
}

.section3Line {
    width: 50%;
    height: 2px;
    background-color: var(--pale-orange)
}

#section3CardSection {
    display: flex;
    justify-content: space-between;
}

#section3CardSection > .container-fluid > .row>* {
    padding-left: 0px;
    padding-right: 3rem;
}

.section3Card {
    border-radius: 0.6rem;
    padding: 0rem 0rem 2rem 0rem;
}

.section3Card > h1 {
    color: var(--pale-orange);
    margin-bottom: 2rem;
}

.section3Card > h3 {
    margin-bottom: 2rem;
}

#section3 > button {
    margin-top: 1rem;
}

/* Footer */

#footer {
    background-color: var(--dark-grey-blue);
    color: white;
    padding: 1rem 4rem;
    margin-bottom: 5rem;
}

#footer > .navbar {
    margin: 0px;
}

.nav-link {
    color: var(--grey);
    margin: 0rem 1rem;
}

.nav-link:hover {
    color: white;
}

.footerNav {
    margin-left: 6rem;
}

.socialIcons {
    margin-left: 1rem;
}

.socialIcons:hover {
    fill: var(--pale-orange);
}